.container
{
    margin: 0 auto;
    margin-top: 60px;
    width: 98%;
    max-width: 660px;
}

.article_card,
.notice
{
    margin: 9px 0;
    padding: 9px;
    background-color: white;
    border-radius: 9px;
    transition: all 0.9s;
}


.article_card:hover,
.notice:hover
{
    box-shadow: 0 0 5px var(--link-color),
                0 0 10px var(--link-color),
                0 0 15px var(--link-color),
                0 0 100px var(--link-color);
}


.right .notice
{
    min-height: 120px;
}

.article_card a
{
    font-size: large;
    font-weight: bold;
}

.article_card p
{
    height: 44px;
}

.article_card .author
{
    height: 30px;
}

.article_card .author img
{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    user-select: none;
}

.article_card .author span
{
    display: block;
    float: left;
    margin-left: 5px;
    height: 30px;
    line-height: 30px;
}

.right>.tabs, .right>.articles
{
    background: none;
}

.right #tabs
{
    margin: auto;
    width: fit-content;
}

.right>.tabs span
{
    display: block;
    float: left;
    margin: 0 2px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
}