.container
{
    margin: 0 auto;
    margin-top: 60px;
    width: 98%;
    max-width: 660px;
    background-color: white;
}

.container .content
{
    margin: 0 9px;
    padding: 9px;
}

.container ul
{
    margin: 5px 0;
    float: left;
    width: 100%;
}

.container li
{
    display: block;
    float: left;
    margin-right: 9px;
    margin-bottom: 9px;
    width: fit-content;
    height: 20px;
    line-height: 20px;
}

.container li::before
{
    content: "";
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background-image: url(/image/link.svg);
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
}