.container
{
    margin: 0 auto;
    margin-top: 60px;
    width: 98%;
    max-width: 660px;
}


.container ul
{
    width: fit-content;
    margin: 5px auto;
}

.container li
{
    display: block;
    float: left;
    width: 100px;
}