/* INIT BASIC STYLE CONFIG START*/
:root
{
    --basic-color: #f1f3f5;
    --nav-bar-color: #81F4E1;
    /* --footer-color: #FF729F;  */
    --link-color: blueviolet;
    --formal-button-color: #72DDF7;
    --on-focus-color: #FF1654;
    
}

*
{
    margin: 0;
    padding: 0;
}

img
{
    overflow: hidden;
}

em, i 
{
    font-style: normal;
}
li 
{
    list-style: none;
}

a, a:visited
{
    color: var(--link-color);
    text-decoration: none;
}

body
{
    /* position: relative; */
    background-color: var(--basic-color);
    min-width: 260px;
}
/* INIT BASIC STYLE CONFIG END */

/* CUSTOM STYLE CONFIG START */
.lazy
{
    background-image: none !important;
}

.make_clear
{
    clear: both;
}

.rough
{
    border-radius: 9px;
}

.no_scrollbar
{
    /* hide the scrollbar for IE */
    -ms-overflow-style: none;
    /* hide the scrollbar for FIREFOX */
    overflow: -moz-scrollbars-none;
}

/* hide the scrollbar for CHROME */
.no_scrollbar::-webkit-scrollbar
{
    width: 0;
}

.text_on_line
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text_multi_lines
{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.linkbutton, .linkbutton:visited
{
    display: block;
    margin: 0 auto;
    padding: 4px;
    width: fit-content;
    color: var(--link-color);
    background-color: var(--formal-button-color);
    border-radius: 9px;
}
.linkbutton:active
{
    color: var(--on-focus-color);
}

/* CUSTOM STYLE CONFIG END */
nav
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
    background-color: var(--nav-bar-color);
}

nav ul
{
    position: relative;
    width: 100%;
}

nav ul, nav li
{
    float: left;
    height: 100%;
    text-align: center;
}

nav ul li:first-child
{
    margin-left: 2%;
}

nav ul img
{
    float: left;
    height: 100%;
}

nav #menu_list a, nav #menu_list a:visited
{
    display: block;
    float: left;
    width: 100%;
    height: 100%;
    color: var(--link-color);
    /* cursor: pointer; */
    text-align: center;
    line-height: 50px;
}

nav #menu_list a:hover
{
    color: var(--on-focus-color);
    text-decoration: underline;
}

/* nav #menu_list a::after
{
    content: "";
    display: block;
    position: relative;
    width: 20px;
    height: 2px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

nav #menu_list a::after:hover
{
    background-color: red;
} */

nav .function_list
{
    height: 100%;
    margin-right: 2%;
}

nav #menu_list li
{
    float: left;
    margin: 0 5px;
    width: 50px;
}

nav .menu_toggle
{
    display: none;
    float: right;
    width: 25px;
    cursor: pointer;
    line-height: 50px;
    font-size: 20px;
}

nav .search_box
{
    width: auto;
    float: right;
}

nav .search_box input
{
    display: block;
    float: left;
    margin: 12.5px 0;
    width: 80px;
    height: 25px;
    border: 0;
    text-indent: 3px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
}

nav .search_box input:focus
{
    outline: 1px solid var(--formal-button-color);
}

nav .search_box .search_toggle
{
    float: left;
    margin: 12.5px 0;
    /* padding: 0 2.5px; */
    height: 25px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    user-select: none;
    background-color: var(--formal-button-color);
}

/* 
nav .search_box .search_toggle:active
{
    color: var(--on-focus-color);
} */


@media screen and (max-width: 520px) 
{
    .showed_menu
    {
        animation: showed_menu_animation .5s ease-out;
    }

    .hidden_menu 
    {
        display: none;
    }

    nav .menu_toggle
    {
        display: block;
    }

    nav #menu_list
    {
        position: absolute;
        top: 50px;
        width: 100%;
    }

    nav #menu_list li
    {
        float: none;
        margin: 0;
        width: 100%;
    }

    nav #menu_list a
    {
        margin: 0;
        background-color: var(--nav-bar-color);
    }
    
    
    nav .search_box input 
    {
        /* width: calc(100% - 175px); */
    }
}


@keyframes showed_menu_animation {
    0%
    {
        z-index: -1;
        top: 0;
    }
    99%
    {
        z-index: -1;
        top: 50px;
    }
    100%
    {
        z-index: 9;
        top: 50px;
    }
}

footer
{
    display: block;
    margin: 0 2%;
    /* background-color: var(--footer-color); */
}

footer .studio_view img
{
    height: 50px;
}

footer .link_view dl
{
    display: block;
    float: left;
    margin-right: 50px;
}

footer .link_view dl dt
{
    color: #09102b;
    font-weight: bold;
}


footer .link_view dl dd, footer .link_view dl dd a, footer .link_view dl dd a:visited
{
    color: #6c7080;
}

footer .media_view ul li
{
    display: block;
    float: left;
    margin: 10px;
    width: 30px;
    height: 30px;
}

footer .media_view ul li img
{
    width: 30px;
    height: 30px;
}

footer .media_view ul li a
{
    font-size: 30px;
    color: black;
    line-height: 30px;
}